registry=https://registry.npmjs.org/
audit=false
fund=false
progress=false
fetch-retries=1
fetch-retry-mintimeout=1000
fetch-retry-maxtimeout=10000
fetch-timeout=30000
prefer-online=true
loglevel=verbose
